.container{
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;

}

.click {
  display: flex;
  justify-content: center;
    text-align: center;
    padding: 10px 20px 30px 10px;


}

.btn1{
  font-size: 20px;
  font-weight: bold;
  background-color: #4ECCA3;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  color: #000000;
  border-radius: 4px;
}

.btn1:hover {
  background-color: #D2001A;
  color: white;
}

body {
  background-color: #16213E;
}


h1 {
  margin: 5%;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 2px 3px #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

 p {
  margin: auto;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: #4ECCA3;

}

img {
  margin: 10px;
  width: 40%;
  cursor: pointer;
}
footer{
margin-top: 10%;
  text-align:center;
  font-size: 1rem;
  color: #4ECCA3;
}
